<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/save.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form id="uploadForm">
      <input type="file" name="image" required />
      <br />
      <input type="text" name="resName" placeholder="가게명" />
      <br />
      <input type="text" name="foodName" placeholder="음식명" required />
      <br />
      <input type="text" name="comment" placeholder="음식평" required />
      <br />
      <input type="number" name="price" placeholder="가격" required />
      <br />
      <input type="text" name="address" placeholder="가게 주소" required />
      <br />
      <input type="date" name="date" required />
      <br />

      <button onclick="createData(event)">등록</button>
      <br />
      <br />
    </form>
    <table border="2">
      <thead>
        <tr>
          <th>이미지</th>
          <th>식당 이름</th>
          <th>메뉴명</th>
          <th>후기</th>
          <th>가격</th>
          <th>주소</th>
          <th>날짜</th>
          <th colspan="2">관리</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < food.length; i++) { %>
        <tr>
          <td>
            <img src="<%= food[i].image %>" width="50" alt="음식 이미지" />
          </td>
          <td><%= food[i].resName %></td>
          <td><%= food[i].foodName %></td>
          <td><%= food[i].comment %></td>
          <td><%= food[i].price %>원</td>
          <td><%= food[i].address %></td>
          <td><%= food[i].createdAt %></td>
          <td>
            <button onclick="updatePage('<%= food[i].id %>')" type="button">
              수정
            </button>
          </td>
          <td>
            <button onclick="deletelist('<%= food[i].id %>')" type="button">
              삭제
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <script src="/static/js/save.js"></script>
</html>
