<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>수정페이지</h1>
    <form name="updateData">
      <div>
        음식 사진:
        <input
          type="file"
          name="image"
          src="<%= foodByMo[0].image %>"
          required
        />
        <img src="<%= foodByMo[0].image %>" width="50" alt="음식 이미지" />
      </div>
      <div>
        가게명:
        <input name="resName" value="<%= foodByMo[0].resName %>" />
      </div>
      <div>
        음식명:
        <input name="foodName" value="<%= foodByMo[0].foodName %>" />
      </div>
      <div>
        음식평:
        <input name="comment" value="<%= foodByMo[0].comment %>" />
      </div>
      <div>
        가격:
        <input name="price" value="<%= foodByMo[0].price %>" />원
      </div>
      <div>
        가게 주소:
        <input name="address" value="<%= foodByMo[0].address %>" />
      </div>
      <div>
        수정 날짜:
        <input type="date" name="date" required />
      </div>
      <div></div>
    </form>

    <button onclick="updateForm('<%= foodByMo[0].id %>')">수정</button>
  </body>
  <script src="/static/js/write.js"></script>
</html>
